<div class="component">
  <div class="price-wrapper" ng-class="$ctrl.defaultViewClass" ng-click="$ctrl.addToCart()">
    <div ng-class="$ctrl.discountViewClass" class="discount btn btn-small btn-green">
      <p>-{{$ctrl.discount}}%</p>
    </div>
    <div class="price btn btn-small">
      <p>$ {{$ctrl.price}}</p>
    </div>
  </div>
  <div ng-class="$ctrl.inCartViewClass">
    <div class="in-cart btn btn-small">
      <p>{{$ctrl.inCartText}}</p>
    </div>
  </div>
  <div ng-class="$ctrl.ownedViewClass">
    <div class="owned btn btn-small">
      <p>{{$ctrl.ownedText}}</p>
    </div>
  </div>
</div>
